[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
[submodule "components/opencvlib"]
	path = components/opencvlib
	url = https://gitlab.espressif.cn:6688/idf/opencvlib.git
	branch = feature/examples
